# OS and editor
.DS_Store
*.swp
*.swo
.idea/

# Node/Next.js
node_modules/
.next/
out/
dist/
tsconfig.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
# Ignore all .env files everywhere by default
**/.env
**/.env.*
# Allow only root-level non-secret templates or config
!/.env.production
!/.env.local.example
!/.env.production.example
# Always ignore local overrides
**/.env.local
**/.env.*.local

.wrangler/
.vercel/
.next//
